<div style="padding: 30px">
  <div class="informacion_paginas">
    
    <div class="d-grid gap-2 d-md-block">
    <button
      [disabled]="deshabilitado"
      (click)="previousPageForLess()"
      [disabled]="page <= 1"
      class="btn btn-dark" 
      type="button"
    >
      Página anterior
    </button>
    <button
      (click)="nextPageForMore(); habilitarBoton()"
      [disabled]="page >= 42"
      class="btn btn-dark" 
      type="button"
    >
      Página siguiente
    </button>

    <p class="titulo">PERSONAJES</p>

    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Seleccionar
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Vivo</a></li>
        <li><a class="dropdown-item" href="#">Muerto</a></li>
        <li><a class="dropdown-item" href="#">Estado desconocido</a></li>
        <li><a class="dropdown-item" href="#">Hombre</a></li>
        <li><a class="dropdown-item" href="#">Mujer</a></li>
        <li><a class="dropdown-item" href="#">Género desconocido</a></li>
        <li><a class="dropdown-item" href="#">Sin género</a></li>
        <li><a class="dropdown-item" href="#">Alien</a></li>
        <li><a class="dropdown-item" href="#">Humano</a></li>
      </ul>
    </div>
    
  </div>


<div class = info_pages>
    <p>Página actual: {{ page }}</p>
    <p>Total de páginas: {{ infoClass.pages }}</p>
    <p>Total personajes: {{ infoClass.count }}</p>
  </div>
  </div>

  
  <div class="row row-cols-1 row-cols-md-4 g-4" style=" margin-top: 20px;">
    @for (personaje of personajeList; track personaje.id) {
    <div class="col">
      <div class="card">
        <img
          src="{{ personaje.image }}"
          class="card-img-top"
          alt="img personaje"
          width="150"
          height="260"
        />

        <div class="card-body">
          <h5 class="card-title">{{ personaje.name | uppercase }}</h5>
        </div>

        <ng-container [ngSwitch]="personaje.status" >
          <p *ngSwitchCase="'Dead'" style="color: red" class="descripcion_Carta" >{{personaje.status}}</p>
          <p *ngSwitchCase="'Alive'" style="color: green" class="descripcion_Carta">{{personaje.status}}</p>
          <p *ngSwitchDefault class="descripcion_Carta">{{personaje.status}}</p>
      </ng-container>

      <div class="d-grid gap-2">
        <button 
        (click)=" moreInfo(personaje.id)"
        class="btn btn-dark"  type="button">Más información
     </button>
      </div>

      </div>
    </div>
    }
  </div>
</div>
